{
    "openapi": "3.0.0",
    "info": {
      "title": "Документация Ozon Seller API",
      "version": 2.1,
      "x-logo": {
        "url": "https://cdn2.ozone.ru/s3/redoc/ozon-seller-logo.svg",
        "backgroundColor": null,
        "altText": "Ozon logo"
      },
      "description": "По вопросам работы с Seller API обращайтесь в поддержку через личный кабинет.\n\n> [Инструкции по работе с маркетплейсом](https://seller-edu.ozon.ru)\n\n> [Информационная платформа и сообщество разработчиков Ozon for dev](https://dev.ozon.ru/)\n"
    },
    "servers": [
      {
        "url": "//api-seller.ozon.ru"
      }
    ],
    "x-tagGroups": [
      {
        "name": "Общее описание",
        "tags": [
          "Introduction",
          "Getting started",
          "Auth",
          "Environment",
          "Process",
          "News"
        ]
      },
      {
        "name": "Методы Seller API",
        "tags": [
          "CategoryAPI",
          "ProductAPI",
          "BarcodeAPI",
          "Prices&StocksAPI",
          "Promos",
          "PricingStrategyAPI",
          "BrandAPI",
          "CertificationAPI",
          "WarehouseAPI",
          "FBS",
          "PolygonAPI",
          "FBO",
          "FboSupplyRequest",
          "FBS&rFBSMarks",
          "DeliveryFBS",
          "DeliveryrFBS",
          "Pass",
          "ReturnsAPI",
          "RFBSReturnsAPI",
          "ReturnAPI",
          "CancellationAPI",
          "ChatAPI",
          "SupplierAPI",
          "ReportAPI",
          "AnalyticsAPI",
          "FinanceAPI",
          "SellerRating",
          "InvoiceAPI"
        ]
      },
      {
        "name": "Бета-методы Seller API",
        "tags": [
          "BetaIntro",
          "BetaMethod",
          "Quants",
          "ReviewAPI",
          "Questions&Answers"
        ]
      },
      {
        "name": "Приложения",
        "tags": [
          "Errors"
        ]
      },
      {
        "name": "Пуш-уведомления",
        "tags": [
          "push_intro",
          "push_start",
          "push_resending",
          "push_types",
          "service_response"
        ]
      }
    ],
    "tags": [
      {
        "name": "Introduction",
        "x-displayName": "Введение",
        "description": "## Что такое Ozon Seller API\r\n\r\nOzon Seller API — программный интерфейс для работы с маркетплейсом Ozon. Он даёт возможность обмениваться информацией между системой продавца и Ozon.\r\n\r\nМетоды Seller API позволяют изменять данные магазина, например, остатки товаров или их стоимость, и получать данные, \r\nтакие как информация о возвратах или список складов.\r\n\r\nРабота с API состоит из отправки запроса и получения ответа. Для этого можно использовать вкладку **Консоль**, которая находится сверху описания методов, [Postman](https://www.postman.com) или настроить интеграцию с системами учёта, например, 1С, ERP или МойСклад.\r\n\r\n## Когда пригодится Seller API\r\n\r\nПри интеграции системы учёта продавца с Seller API обновлять и получать данные можно в автоматическом режиме. Это \r\nпоможет поддерживать актуальной информацию о ценах и остатках товаров, обрабатывать больше заказов за меньшее время \r\nи исключить ошибки из-за обновления данных вручную.\r\n\r\nНапример, вам нужно обновить информацию об остатках или ценах 100 товаров. Чтобы сделать это через личный кабинет, \r\nнеобходимо вручную изменить данные на карточке каждого товара.\r\n\r\nМетод [/v2/products/stocks](#operation/ProductAPI_ProductsStocksV2) позволяет одним запросом обновить информацию об \r\nостатках сразу 100 товаров, а метод [/v1/product/import/prices](#operation/ProductAPI_ImportProductsPrices) — их стоимость.\r\n\r\n## Возможности Seller API\r\n\r\n- Загружать и обновлять товары.\r\n- Управлять ценами и остатками по товарам.\r\n- Получать информацию о возвратах товаров.\r\n- Управлять заказами FBO, FBS и rFBS.\r\n- Управлять чатами.\r\n- Работать с накладными.\r\n- Получать финансовую и аналитическую информацию.\r\n- Получать выгрузку атрибутов и характеристик Ozon.\r\n\r\n\r\n"
      },
      {
        "name": "Getting started",
        "x-displayName": "Начало работы",
        "description": "<aside class=\"warning\">\r\nС 16.05.2025 в Seller API можно обращаться только back-to-back, прямые запросы из браузера будут запрещены. \r\nТакие запросы будут падать с ошибкой политики CORS.\r\n</aside>\r\n\r\n<br>\r\n\r\n<aside class=\"warning\">\r\nЕсли оферта неактуальна, доступ к Seller API будет ограничен. Вы получите ошибку <code>403 Offer not signed</code>.\r\nЧтобы возобновить доступ, примите оферту.\r\n\r\n[Подробнее о принятии оферты](https://seller-edu.ozon.ru/how-to-start/step-1-register#как-принять-оферту)\r\n</aside>\r\n\r\nПеред началом работы с Ozon Seller API:\r\n\r\n1. Изучите процессы работы с Ozon в [Базе знаний продавца](https://seller-edu.ozon.ru) и [личном кабинете продавца](https://seller.ozon.ru/app/signin).\r\n2. Определите процессы, которые планируете автоматизировать, и сравните их с процессами вашей компании.\r\n3. Изучите документацию Seller API и разработайте схему интеграции.\r\n\r\nДля работы с Seller API необходим API-ключ. Подробнее в разделе [Авторизация](#tag/Auth).\r\n\r\nSeller API работает по UTC. Учитывайте это, когда отправляете запросы и получаете ответы с датами и временем.\r\n\r\nПроцесс работы с Seller API можно разделить на блоки:\r\n- работа с атрибутным деревом,\r\n- загрузка и обновление товаров,\r\n- управление ценами,\r\n- управление остатками товара,\r\n- управление заказами FBO,\r\n- управление заказами FBS и rFBS,\r\n- работа с накладными,\r\n- получение финансовой информации,\r\n- получение аналитической информации,\r\n- управление возвратами,\r\n- управление чатами.\r\n"
      },
      {
        "name": "Auth",
        "x-displayName": "Авторизация",
        "description": "<br><aside class=\"warning\">API-ключи хранятся в личном кабинете в скрытом виде. Вы увидите API-ключ только при создании. Сохраните его в надёжном месте или сразу укажите в своих системах. \r\n\r\nВы не сможете восстановить доступ к несохранённым API-ключам. Чтобы продолжить работу с API, создайте новый ключ.\r\n\r\nOzon может отозвать ключ, если обнаружит подозрительную активность или слишком большую нагрузку на свои системы.\r\n</aside>\r\n\r\n## Как получить доступ к Seller API\r\n\r\n1. Зарегистрируйтесь в [Ozon Seller](https://seller.ozon.ru/app/signup). Подробнее о регистрации \r\n   в [Базе знаний продавца](https://seller-edu.ozon.ru/docs/how-to-start/step-1-register.html).\r\n2. Получите API-ключ.\r\n\r\n## Как получить API-ключ\r\n\r\n<aside class=\"warning\">\r\n<b>Не передавайте API-ключ посторонним людям</b>  \r\n\r\nЗапросы к API изменяют данные в вашем магазине на Ozon. Если доступ к ключу будет у посторонних, они смогут управлять \r\nвашим магазином.\r\n</aside>\r\n\r\nЧтобы получить API-ключ:\r\n1. В личном кабинете перейдите в [**Настройки → Seller API**](https://seller.ozon.ru/app/settings/api-keys).\r\n2. Нажмите **Сгенерировать ключ**.\r\n3. Придумайте название для ключа и выберите его уровень доступа.\r\n4. Нажмите **Сгенерировать**.\r\n\r\nВы можете создать несколько API-ключей. Например, если у вас несколько пользователей с разными уровнями доступа.\r\n\r\n### Отредактировать ключ\r\n\r\nЕсли вы хотите изменить разрешённые сети для ключа, в [списке API-ключей](https://seller.ozon.ru/app/settings/api-keys) выберите нужный и нажмите <img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/seller-api/edit-key_1682516858.png\" width=\"20\">.\r\nВнесите изменения и нажмите **Обновить**.\r\n\r\n## API-ключ попал в посторонние руки\r\n\r\n1. В личном кабинете перейдите в [**Настройки → Seller API**](https://seller.ozon.ru/app/settings/api-keys).\r\n2. Удалите текущий API-ключ и создайте новый."
      },
      {
        "name": "Environment",
        "x-displayName": "Рабочая среда",
        "description": "## Что такое рабочая среда\r\n\r\nРабочая среда — это ваш магазин. Все отправленные запросы, кроме информационных, могут изменять данные в личном \r\nкабинете и на сайте Ozon.\r\n\r\n**Рабочая среда**: api-seller.ozon.ru\r\n\r\nСозданные товары можно посмотреть по ссылке вида: https://www.ozon.ru/context/detail/id/SKU, где вместо «SKU» нужно \r\nуказать значение для созданного товара.\r\n\r\n## Формат запроса\r\n\r\n```http\r\nGET / HTTP/1.1\r\nHost: api-seller.ozon.ru\r\nClient-Id: <Client-Id>\r\nApi-Key: <Api-Key>\r\nContent-Type: application/json\r\n```\r\n\r\nДля проверки корректности формата запроса используйте вкладку **Консоль** над описанием метода или \r\n[Postman](https://www.postman.com). "
      },
      {
        "name": "Process",
        "x-displayName": "Порядок работы с методами",
        "description": "<br><aside class=\"warning\">Если от вашего имени поступает много одинаковых или ошибочных запросов, мы можем ограничить\r\nдоступ к Seller API без предупреждения. <br><br> Вы можете отправить не больше 50 запросов в секунду на все методы с одного Client ID.</aside>\r\n\r\n# Выгрузите атрибуты и характеристики Ozon\r\n\r\n<br><aside class=\"warning\">Чтобы методы для работы с товарами работали корректно, сопоставьте ваши категории и\r\nхарактеристики со значениями в системе Ozon.\r\n\r\nЕсли в методе [/v3/product/import](#operation/ProductAPI_ImportProductsV3) вы передадите значения не из справочника\r\nOzon, товар не будет создан или обновлён.</aside>\r\n\r\n1. [/v1/description-category/tree](#operation/DescriptionCategoryAPI_GetTree) — получите список категорий и типов в виде дерева и используйте\r\n   значение последнего уровня выбранной категории.\r\n\r\n2. [/v1/description-category/attribute](#operation/DescriptionCategoryAPI_GetAttributes) — получите характеристики для выбранных\r\n   категории и типа.\r\n\r\n3. [/v1/description-category/attribute/values](#operation/DescriptionCategoryAPI_GetAttributeValues) — получите список значений для выбранной\r\n   характеристики.\r\n\r\n# Загрузите и обновите товары\r\n\r\nПосле сравнения своих атрибутов и характеристик с атрибутной моделью Ozon можете приступить к загрузке товаров:\r\n\r\n1. [/v3/product/import](#operation/ProductAPI_ImportProductsV3) — загрузите товары и услуги. Этот метод также позволяет\r\n   обновить уже загруженные товары. В запросе устанавливается первичная цена и загружаются изображения товара. \r\n\r\n   В одном запросе можно передать до 100 товаров. Изображения загружаются прямой ссылкой на облачное хранилище, где они\r\n   хранятся.\r\n\r\n   В результате работы метода вы получите `task_id` — номер задания на загрузку товаров.\r\n\r\n2. [/v1/product/import/info](#operation/ProductAPI_GetImportProductsInfo) — проверьте `task_id`, который вы получили при\r\n   загрузке товаров. Метод вернёт информацию, успешно ли загрузились товары или при импорте была ошибка.\r\n\r\n   Если ответ содержит статус, что товар на модерации, подождите её результатов и проверьте статус товара повторно.\r\n   Обычно модерация занимает меньше одного дня.\r\n\r\n3. [/v1/product/upload_digital_codes](#operation/ProductAPI_UploadDigitalCode) — загрузите коды активации, если вы\r\n   продаёте цифровые товары или услуги. Код активации привязывается к карточке цифрового товара. После продажи цифрового\r\n   товара вы сможете посмотреть привязку кода к отправлению в ответе\r\n   метода [/v2/posting/fbo/get](#operation/PostingAPI_GetFboPosting). В результате работы метода вы получите `task_id` —\r\n   номер задания на загрузку кода активации.\r\n\r\n4. [/v1/product/upload_digital_codes/info](#operation/ProductAPI_UploadDigitalCodeInfo) — проверьте `task_id`, который\r\n   вы получили при загрузке кодов активации. Метод вернёт информацию, успешно ли загрузились коды или возникла ошибка.\r\n\r\n5. [/v3/product/list](#operation/ProductAPI_GetProductList) — получите список созданных товаров после загрузки товаров.\r\n\r\n   Метод позволяет использовать фильтры, чтобы разбить товары на группы по статусу видимости или отслеживать изменение\r\n   их статуса с помощью идентификатора товара.\r\n\r\n   Метод возвращает пару значений `offer_id` и `product_id` — они нужны практически во всех запросах для идентификации\r\n   товара, с которым будет производиться действие. Если вы загружали товары через шаблон, используйте этот метод для\r\n   получения `offer_id` и `product_id`, чтобы в дальнейшем работать по API с товарами.\r\n\r\n## Загрузите и обновите изображения товара\r\n\r\nЧтобы добавить изображения товара или заменить существующие, используйте:\r\n\r\n1. [/v1/product/pictures/import](#operation/ProductAPI_ProductImportPictures) — загрузите или обновите изображения\r\n   товара. Передайте прямые ссылки на изображения, загруженные в облачное хранилище.\r\n2. [/v2/product/pictures/info](#operation/ProductAPI_ProductInfoPicturesV2) — проверьте статус загрузки.\r\n\r\n## Обновите товар\r\n\r\nЧтобы обновить информацию о товаре и его характеристики, используйте [/v3/product/import](#operation/ProductAPI_ImportProductsV3).\r\n\r\nЕсли нужно обновить только характеристики товара, используйте [/v1/product/attributes/update](#operation/ProductAPI_ProductUpdateAttributes).\r\n\r\n## Получите информацию о товаре\r\n\r\n- [/v3/product/info/list](#operation/ProductAPI_GetProductInfoList) — получите информацию о товаре, например штрихкод, цену\r\n  главного предложения, идентификатор категории, комиссию или ошибки модерации.\r\n  С помощью фильтров [/v3/product/list](#operation/ProductAPI_GetProductList) получите список пакетно по всем товарам сразу или по категориям.\r\n\r\n- [/v4/product/info/attributes](#operation/ProductAPI_GetProductAttributesV4) — получите описание характеристик товара.\r\n  Метод позволяет добавить дополнительную информацию к товару, чтобы карточка товара была более полной.\r\n\r\n- [/v1/product/info/description](#operation/ProductAPI_GetProductInfoDescription) — получите описание товара, чтобы\r\n  использовать его для создания схожего товара.\r\n\r\n- [/v1/product/info/discounted](#operation/ProductAPI_GetProductInfoDiscounted) — получите информацию об уценке и\r\n  основном товаре по SKU уценённого товара.\r\n\r\n## Удалите или архивируйте товар\r\n\r\n1. [/v2/products/delete](#operation/ProductAPI_DeleteProducts) — удалите товар, если он загрузился с ошибкой и попал в\r\n   архив без SKU. Товары, которые успешно прошли модерацию и получили SKU, удалить из архива нельзя.\r\n\r\n2. [/v1/product/archive](#operation/ProductAPI_ProductArchive) — перенесите товар в архив. Перед архивированием товара\r\n   обнулите его остатки.\r\n\r\n3. [/v1/product/unarchive](#operation/ProductAPI_ProductUnarchive) — верните товар из архива.\r\n\r\nТовар попадёт в продажу, только когда вы установите его остаток.\r\n\r\n## Управляйте услугами\r\n\r\nЗагрузить коды активации для услуг и цифровых товаров можно через метод [/v1/product/upload_digital_codes](#operation/ProductAPI_UploadDigitalCode).\r\n\r\n# Загрузите сертификаты качества\r\n\r\n## Информация о сертификатах\r\n\r\n- Получите список типов сертификатов: [/v1/product/certificate/types](#operation/ProductAPI_ProductCertificateTypes).\r\n- Получите список сертифицируемых категорий: [/v2/product/certification/list](#operation/ProductAPI_ProductCertificationList).\r\n- Получите список статусов сертификата: [/v1/product/certificate/status/list](#operation/CertificateStatusList).\r\n- Получите список типов соответствия требованиям: [/v2/product/certificate/accordance-types/list](#operation/CertificateAccordanceTypes).\r\n- Получите список причин отклонения сертификата: [v1/product/certificate/rejection_reasons/list](#operation/RejectionReasonsList).\r\n- Получите список сертификатов: [v1/product/certificate/list](#operation/CertificateList), используя фильтры:\r\n   - тип сертификата `type` — значение `value` из ответа [/v1/product/certificate/types](#operation/ProductAPI_ProductCertificateTypes);\r\n   - статус сертификата `status` — значение `code` из ответа [v1/product/certificate/status/list](#operation/CertificateStatusList).\r\n\r\n## Работа с товарами сертификата\r\n\r\nЧтобы привязать сертификат к товару:\r\n1. Получите список брендов, для которых требуется предоставить сертификат: [/v1/brand/company-certification/list](#operation/ProductAPI_ProductCertificateBind).\r\n   В ответе вернутся бренды, товары которых есть в вашем личном кабинете.\r\n   Список брендов может изменяться, если Ozon получит требование от бренда предоставлять сертификат.\r\n2. Добавьте сертификаты для товаров: [/v1/product/certificate/create](#operation/ProductAPI_ProductCertificateCreate).\r\n3. Привяжите сертификат к товару: [/v1/product/certificate/bind](#operation/ProductAPI_ProductCertificateBind).\r\n\r\nЧтобы посмотреть список товаров, привязанных к сертификату, воспользуйтесь методом [v1/product/certificate/products/list](#operation/CertificateProductsList).\r\nЕсли нужно получить список товаров с определённым статусом, в параметре `status` передайте значение `code` из ответа [v1/product/certificate/product_status/list](#operation/ProductStatusList).\r\n\r\nЧтобы отвязать товар от сертификата, используйте [/v1/product/certificate/products/unbind](#operation/CertificateUnbind).\r\n\r\n## Управление состоянием сертификата\r\n\r\nЧтобы получить атрибуты для управления сертификатом:\r\n1. Получите список типов сертификатов: [/v1/product/certificate/types](#operation/ProductAPI_ProductCertificateTypes).\r\n2. Получите список типов соответствия требованиям: [/v2/product/certificate/accordance-types/list](#operation/CertificateAccordanceTypes).\r\n\r\nДля создания сертификата используйте [/v1/product/certificate/create](#operation/ProductAPI_ProductCertificateCreate), передав в запросе:\r\n- тип сертификата `type_code` — значение `value` из ответа [/v1/product/certificate/types](#operation/ProductAPI_ProductCertificateTypes);\r\n- тип соответствия требованиям `accordance_type_code` — значение `code` из ответа [/v2/product/certificate/accordance-types/list](#operation/CertificateAccordanceTypes).\r\n\r\nЧтобы удалить сертификат, используйте [/v1/product/certificate/delete](#operation/CertificateDelete).\r\n\r\n# Обновите цены и остатки товаров\r\n\r\nПосле загрузки товаров для схем FBS и rFBS можно перейти к обновлению остатков. Для схемы FBO остатки обновляются\r\nавтоматически по факту продажи.\r\n\r\nДля обновления остатков используйте метод [/v2/products/stocks](#operation/ProductAPI_ProductsStocksV2). \r\nВ этом методе дополнительно указывается идентификатор склада, на котором необходимо изменить остатки.\r\n\r\nДля получения информации о количестве остатков для FBO\r\nиспользуйте [/v3/product/info/stocks](#operation/ProductAPI_GetProductInfoStocksV3).\r\n\r\nДля получения информации о количестве остатков для FBS и rFBS\r\nиспользуйте [v1/product/info/stocks-by-warehouse/fbs](#operation/ProductAPI_ProductStocksByWarehouseFbs).\r\n\r\nЧтобы обновить цены по товарам и не менять карточку товара,\r\nиспользуйте [/v1/product/import/prices](#operation/ProductAPI_ImportProductsPrices).\r\n\r\nМетод позволяет обновить цену:\r\n\r\n- до скидок,\r\n- для клиентов с подпиской Ozon Premium,\r\n- на карточке товара с учётом скидок,\r\n- минимальную цену товара после применения акций.\r\n\r\n<aside class=\"warning\">\r\nЦена товара может упасть ниже минимальной, если вы примените разные типы акций к одному товару.\r\n</aside>\r\n\r\nДля получения информации о ценах, комиссиях и скидках на товары\r\nиспользуйте [/v5/product/info/prices](#operation/ProductAPI_GetProductInfoPrices).\r\n\r\n## Резерв товаров\r\n\r\nЕсли товары заказывают юридические лица, оплата может поступать не сразу — система зарезервирует товары.\r\nЧтобы проверить остатки, используйте методы [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3), [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) или [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\r\nЕсли в ответе `is_legal = true`, значит среди остатков есть зарезервированные товары.\r\nВы можете обновить остатки так, чтобы новое количество товаров было больше свободного остатка и зарезервированного товара в сумме. \r\nСистема спишет старый остаток и рассчитает новый.\r\n\r\nЧтобы проверить резервирование товара, используйте метод [/v3/product/info/stocks](#operation/ProductAPI_GetProductInfoStocksV3).\r\n\r\n[Подробнее об изменении остатков](https://seller-edu.ozon.ru/fbs/logistics-settings/upravlenie-ostatkami/#как-меняются-остатки-в-разных-ситуациях)\r\n\r\n# Участвуйте в акциях\r\n\r\nДля продвижения товаров участвуйте в акциях, которые Ozon проводит для покупателей.\r\n\r\n- Получите список доступных акций: [/v1/actions](#operation/Promos).\r\n\r\n- Получите список товаров, которые могут участвовать в акции: [/v1/actions/candidates](#operation/PromosCandidates).\r\n\r\n- Добавьте товары в акцию: [/v1/actions/products/activate](#operation/PromosProductsActivate).\r\n\r\n- Получите список товаров, которые участвуют в акции: [/v1/actions/products](#operation/PromosProducts).\r\n\r\n- Удалите товары из акции: [/v1/actions/products/deactivate](#operation/PromosProductsDeactivate).\r\n\r\nПокупатели могут попросить у вас скидку на товар.\r\nЧтобы получить список товаров, которые покупатели хотят купить со скидкой, воспользуйтесь методом\r\n[/v1/actions/discounts-task/list](#operation/promos_task_list).\r\nЗаявки в статусах `NEW` (новые) или `SEEN` (просмотренные) вы можете:\r\n- одобрить — используйте метод [/v1/actions/discounts-task/approve](#operation/promos_task_approve),\r\n- отклонить — используйте метод [/v1/actions/discounts-task/decline](#operation/promos_task_decline).\r\n\r\n[Подробнее об акциях в Базе знаний продавца](https://seller-edu.ozon.ru/docs/how-to-sell-effectively/promo/promo.html)\r\n\r\n# Настройте стратегии ценообразования\r\n\r\nСтратегии ценообразования — инструмент для автоматического изменения стоимости товаров в соответствии с ценами на аналогичные товары в других интернет-магазинах и маркетплейсах.\r\n\r\n[Подробнее о стратегиях в Базе знаний для продавцов из России](https://seller-edu.ozon.ru/work-with-goods/rabota-s-tsenami/rival-strategies)\r\n\r\n[Подробнее о стратегиях в Справке для продавцов Ozon Global](https://docs.ozon.ru/global/prices/pricing-strategies/)\r\n\r\nЧтобы настроить стратегии ценообразования:\r\n\r\n1. Получите список конкурентов: [/v1/pricing-strategy/competitors/list](#operation/pricing_competitors).\r\n\r\n2. Получите список стратегий ценообразования: [/v1/pricing-strategy/list](#operation/pricing_list).\r\n\r\n3. Создайте свою стратегию: [/v1/pricing-strategy/create](#operation/pricing_create) и установите коэффициенты, чтобы изменять стоимость товара по сравнению с другими площадками в большую и меньшую сторону.\r\n   Чтобы получить информацию о стратегии, используйте метод [/v1/pricing-strategy/info](#operation/pricing_info).\r\n\r\n4. Добавьте товары в стратегию: [/v1/pricing-strategy/products/add](#operation/pricing_items-add).\r\n      \r\n   Вы можете добавить товары:\r\n   - На которые установлена минимальная цена с помощью метода [/v1/product/import/prices](#operation/ProductAPI_ImportProductsPrices). \r\n     Чтобы проверить цену, используйте метод [/v5/product/info/prices](#operation/ProductAPI_GetProductInfoPrices).\r\n   - Которые не привязаны к другой стратегии.\r\n     Чтобы проверить привязку товара к стратегии, используйте метод [/v1/pricing-strategy/strategy-ids-by-product-ids](#operation/pricing_ids).\r\n\r\n   Чтобы получить список товаров, которые привязаны к стратегии, используйте метод [/v1/pricing-strategy/products/list](#operation/pricing_items-list), а для удаления товаров из стратегии — [/v1/pricing-strategy/products/delete](#operation/pricing_items-delete).\r\n\r\n5. Включите или отключите стратегию: [/v1/pricing-strategy/status](#operation/pricing_status).\r\n\r\nЧтобы изменить список выбранных конкурентов и название стратегии, используйте метод [/v1/pricing-strategy/update](#operation/pricing_update).\r\n\r\nДля удаления стратегии используйте метод [/v1/pricing-strategy/delete](#operation/pricing_delete).\r\n\r\n# Получите информацию о складах\r\n\r\n- [/v1/delivery-method/list](#operation/WarehouseAPI_DeliveryMethodList) — получите список методов склада.\r\n\r\n- [/v1/warehouse/list](#operation/WarehouseAPI_WarehouseList) — получите список складов.\r\n\r\n# Управляйте заказами FBO, FBS и rFBS\r\n\r\nОбработайте заказы в зависимости от схемы работы:\r\n\r\n- [cхема FBO](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-FBO);\r\n- [стандартная схема FBS](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-FBS-Standart);\r\n- [схема FBS PickUp с подключённой доверительной приёмкой](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-FBS-PickUp-s-doveritelnoj-priyomkoj);\r\n- [стандартная схема rFBS](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-rFBS-Standart);\r\n- [схема rFBS Express с доставкой в пункт выдачи](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-rFBS-Express-s-dostavkoj-v-punkt-vydachi);\r\n- [схема rFBS с доставкой через интегрированную службу](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-rFBS-s-integrirovannoj-sluzhboj-dostavki);\r\n- [схема rFBS Агрегатор](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-rFBS-Agregator).\r\n\r\nЕсли вы продаёте товары из-за рубежа, обрабатывайте заказы по одной из схем:\r\n\r\n- [rFBS Crossborder](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-rFBS-Crossborder);\r\n- [rFBS Crossborder с интегрированной службой доставки](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-rFBS-Crossborder-s-integrirovannoj-sluzhboj-dostavki);\r\n- [rFBS Агрегатор](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-rFBS-Agregator).\r\n\r\n[Подробнее о заказах с весовыми товарами при работе по схеме rFBS](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Kak-rabotat-s-zakazami-s-vesovymi-tovarami-(rFBS))\r\n\r\n## Схема FBO\r\n\r\nПеред созданием заявки на поставку проверьте загруженность складов Ozon: [/v1/supplier/available_warehouses](#operation/SupplierAPI_SupplierAvailableWarehouses).\r\n\r\nДля получения списка отправлений, финансовой и аналитической информации\r\nиспользуйте [/v2/posting/fbo/list](#operation/PostingAPI_GetFboPostingList). Также метод возвращает информацию о\r\nпроданных кодах активации с привязкой к номеру отправления.\r\n\r\nЧтобы получить информацию по отправлению, используйте [/v2/posting/fbo/get](#operation/PostingAPI_GetFboPosting).\r\n\r\n### Создать заявку на поставку\r\n\r\n1. [/v1/cluster/list](#operation/SupplyDraftAPI_DraftClusterList) — получите информацию по кластерам и их складам.\r\n2. [/v1/warehouse/fbo/list](#operation/SupplyDraftAPI_DraftGetWarehouseFboList) — получите идентификаторы складов, пунктов выдачи заказов и сортировочных центров для отгрузки кросс-докингом.\r\n3. [/v1/draft/create](#operation/SupplyDraftAPI_DraftCreate) — создайте черновик заявки на поставку. Для этого передайте список поставляемых товаров, тип поставки и, при доставке кросс-докингом, точку отгрузки.\r\n4. [/v1/draft/create/info](#operation/SupplyDraftAPI_DraftCreateInfo) — получите статус создания черновика и информацию по нему.\r\n5. [/v1/draft/timeslot/info](#operation/SupplyDraftAPI_DraftTimeslotInfo) — получите доступные таймслоты для конечных складов отгрузки. Максимальный период — 28 дней, начиная с текущей даты.\r\n6. [/v1/draft/supply/create](#operation/SupplyDraftAPI_DraftSupplyCreate) — создайте заявку на поставку по черновику.\r\n7. [/v1/supply/create/status](#operation/SupplyDraftAPI_DraftSupplyCreateStatus) — получите статус создания заявки на поставку. Когда заявка будет создана, метод вернёт идентификаторы заявок на поставку.\r\n\r\n### Получите информацию о заявках на поставку\r\n\r\nДля поставки на фулфилмент Ozon нужна заявка. В ней указано, какие товары и в каком количестве вы привезёте. \r\n\r\n1. [/v2/supply-order/list](#operation/SupplyOrderAPI_GetSupplyOrdersListV2) — получите список заявок на поставку.\r\n2. [/v1/supply-order/status/counter](#operation/SupplyOrderAPI_SupplyOrderStatusCounter) — получите статус заявки и количество поставок в этом статусе.\r\n3. [/v2/supply-order/get](#operation/SupplyOrderAPI_GetSupplyOrdersV2) — получите информацию по заявке.\r\n4. [v1/supply-order/bundle](#operation/SupplyOrderBundle) — получите состав поставки или заявки на поставку.\r\n\r\nДля проезда на фулфилмент выберите интервал поставки и оформите пропуск для водителя и автомобиля. Для этого:\r\n\r\n1. [/v1/supply-order/timeslot/get](#operation/SupplyOrderAPI_GetSupplyOrderTimeslots) — получите список доступных интервалов.\r\n2. [/v1/supply-order/timeslot/update](#operation/SupplyOrderAPI_UpdateSupplyOrderTimeslot) — измените выбранный интервал.\r\n3. [/v1/supply-order/timeslot/status](#operation/SupplyOrderAPI_GetSupplyOrderTimeslotStatus) — получите статус закрепления интервала.\r\n4. [/v1/supply-order/pass/create](#operation/SupplyOrderAPI_SupplyOrderPassCreate) — добавьте данные водителя и автомобиля.\r\n5. [/v1/supply-order/pass/status](#operation/SupplyOrderAPI_SupplyOrderPassStatus) — получите статус ввода данных о водителе и автомобиле.\r\n\r\n### Управляйте грузоместами в заявке на поставку\r\n\r\n1. [/v1/cargoes/create](#operation/CargoesAPI_CargoesCreate) — передайте количество грузомест и установите в каждое грузоместо товарный состав.\r\n2. [/v1/cargoes/create/info](#operation/CargoesAPI_CargoesCreateInfo) — получите информацию по установке грузомест и товарного состава.\r\n3. [/v1/cargoes-label/create](#operation/CargoesAPI_CargoesLabelCreate) — создайте задание на формирование этикеток грузомест.\r\n4. [/v1/cargoes-label/get](#operation/CargoesAPI_CargoesLabelGet) — получите статус создания этикеток и идентификатор файла с ними.\r\n5. [/v1/cargoes-label/file/{file_guid}](#operation/CargoesAPI_CargoesLabelFile) — получите  PDF с этикетками грузовых мест.\r\n\r\n## Схема FBS Стандарт\r\n\r\n1. Перед началом работы с отправлениями получите список необработанных\r\n   отправлений: [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\r\n\r\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать\r\n   страну-производителя для всех товаров в заказе, у которых она не указана. Получите список доступных для выбора\r\n   стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Затем передайте\r\n   информацию о\r\n   стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\r\n\r\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\r\n   Он позволяет получить все заказы, используя фильтры с различными статусами. Можно также получить данные аналитики,\r\n   если поле `with` отправить со значением `analytics_data`.\r\n\r\n   Отправления могут прийти в статусах `awaiting_packaging`, `awaiting_approve` или `awaiting_verification`.\r\n\r\n2. Получите дополнительную информацию о заказах: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\r\n\r\n   В блоке `requirements` указывается:\r\n    - какие товары подлежат обязательной маркировке;\r\n    - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\r\n      также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\r\n      и [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\r\n\r\n   Дополнительную информацию вы также можете получить по\r\n   штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\r\n\r\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\r\n   символов: [/v4/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidate).\r\n\r\n   Получите идентификаторы экземпляров `exemplar_id` методом [/v5/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGet).\r\n\r\n   С помощью метода [/v5/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSet) добавьте для каждого экземпляра маркировку, которую будете передавать в систему «Честный ЗНАК». При необходимости передайте\r\n   номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\r\n   \r\n   [Подробнее о маркировке «Честный ЗНАК» в Базе знаний](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\r\n   \r\n   Получите статусы передачи маркировок:\r\n\r\n- [/v4/fbs/posting/product/exemplar/status](#operation/PostingAPI_GetProductExemplarStatus) — получить статус добавления экземпляров.\r\n- [/v5/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGet) — получить данные созданных экземпляров.\r\n\r\n4. Перед сборкой убедитесь, что отправление соответствует установленным в пункте приёма ограничениям. Получите\r\n   ограничения пункта приёма по номеру\r\n   отправления: [/v1/posting/fbs/restrictions](#operation/PostingAPI_GetRestrictions).\r\n\r\n5. До окончания времени на сборку подтвердите, что вы собрали\r\n   заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). Вы не сможете собрать заказ, если:\r\n   - заказ не в статусе `awaiting_packaging`;\r\n   - вы не указали коды маркировки для товаров, подлежащих обязательной маркировке.\r\n\r\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. Например, если в заказе\r\n   несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\r\n\r\n   После использования метода статус отправления изменится на `awaiting_deliver`.\r\n\r\n   Вы можете использовать метод для частичной\r\n   сборки: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\r\n\r\n6. Для каждого отправления распечатайте наклейку для идентификации в системе\r\n    Ozon: [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel).\r\n\r\n7. Подтвердите отгрузку и запустите формирование транспортной накладной методом [/v2/posting/fbs/act/create](#operation/PostingAPI_PostingFBSActCreate) или создайте отгрузку с помощью метода [/v1/carriage/create](#operation/CarriageAPI_CarriageCreate) и подтвердите её методом [/v1/carriage/approve](#operation/CarriageAPI_CarriageApprove). \r\n   В ответе методов [/v2/posting/fbs/act/create](#operation/PostingAPI_PostingFBSActCreate) и [/v1/carriage/create](#operation/CarriageAPI_CarriageCreate) вы получите идентификатор созданной перевозки.\r\n\r\n8. Запросите информацию о созданной поставке с помощью метода [/v1/carriage/get](#operation/CarriageGet). \r\n   Массив `available_actions` содержит информацию о доступных действиях с поставкой и необходимости создать пропуск для проезда на склад Ozon.\r\n\r\n   Чтобы создать пропуск, используйте метод [/v1/carriage/pass/create](#operation/carriagePassCreate). \r\n   Чтобы после поставки товаров вы могли забрать возвраты на этой же машине, передайте значение `with_returns = true`.\r\n   Для каждой поставки нужен новый пропуск.\r\n\r\n   Для редактирования или удаления пропуска используйте методы [/v1/carriage/pass/update](#operation/carriagePassUpdate) и [/v1/carriage/pass/delete](#operation/carriagePassDelete).\r\n\r\n   Список всех пропусков можно получить с помощью метода [/v1/pass/list](#operation/PassList).\r\n\r\n   [Подробнее об оформлении пропусков](https://seller-edu.ozon.ru/fbs/ozon-logistika/oformlenie-propuska)\r\n\r\n9. Получите список перевозок, по которым нужно распечатать штрихкод для отгрузки и транспортную накладную: [/v1/posting/carriage-available/list](#operation/PostingAPI_GetCarriageAvailableList) или [/v1/carriage/delivery/list](#operation/CarriageAPI_CarriageDeliveryList).\r\n\r\n10. Проверьте, что отгрузка создана: [/v2/posting/fbs/act/check-status](#operation/PostingAPI_PostingFBSActCheckStatus).\r\n\r\n11. Получите штрихкод для отгрузки: [/v2/posting/fbs/act/get-barcode](#operation/PostingAPI_PostingFBSGetBarcode).\r\n\r\n12. Проверьте статус формирования накладной: [/v2/posting/fbs/digital/act/check-status](#operation/PostingAPI_PostingFBSDigitalActCheckStatus).\r\n    Когда статус документа перейдёт в `FORMED`, получите файлы:\r\n    - Транспортная накладная: [/v2/posting/fbs/act/get-pdf](#operation/PostingAPI_PostingFBSGetAct).\r\n    - Лист отгрузки: [/v2/posting/fbs/digital/act/get-pdf](#operation/PostingAPI_PostingFBSGetDigitalAct).\r\n\r\nПосле этого можете отвезти отправления и документы в пункт приёма.\r\n\r\nЕсли отправление передано в доставку, но не просканировано в сортировочном центре, вы можете открыть\r\nспор: [/v2/posting/fbs/arbitration](#operation/PostingAPI_MoveFbsPostingToArbitration). Открытый спор переведёт\r\nотправление в статус `arbitration`.\r\n\r\nЕсли спор по отправлению откроет покупатель, статус отправления изменится на `client_arbitration`.\r\n\r\nЧтобы отследить изменение статуса, когда отправление найдено,\r\nиспользуйте [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) с нужными фильтрами.\r\n\r\nДля передачи спорных заказов к отгрузке\r\nиспользуйте [/v2/posting/fbs/awaiting-delivery](#operation/PostingAPI_MoveFbsPostingToAwaitingDelivery). Статус\r\nотправления изменится на `awaiting_deliver`.\r\n\r\n### Отменить доставку отправления\r\n\r\n1. Используйте [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) на любом этапе\r\n   работы с отправлением, чтобы получить список причин отмены отправления.\r\n\r\n2. Передайте этот список и номер отправления: [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\r\n\r\nЧтобы отменить часть товаров в отправлении,\r\nиспользуйте [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct).\r\n\r\nЕсли отправление отменит покупатель, статус изменится на `cancelled`.\r\n\r\n### Работа с эконом-товарами\r\n\r\n1. Создайте эконом-товары в [личном кабинете](https://seller.ozon.ru/app/econom/products).\r\n2. Получите идентификаторы квантов с созданными товарами: [/v1/product/quant/list](#operation/QuantProductList).\r\n3. Отслеживайте количество заказанных товаров: [/v1/quant/get](#operation/QuantGet).\r\n4. Когда наберётся нужное для кванта количество заказанных товаров, соберите его: [v1/quant/ship](#operation/QuantShip).\r\n\r\n[Подробнее об эконом-товарах в Справке](https://seller-edu.ozon.ru/tarif-ekonom)\r\n\r\n## Схема FBS PickUp с доверительной приёмкой\r\n\r\n1. Перед началом работы с отправлениями получите список необработанных\r\n   отправлений: [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\r\n\r\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать\r\n   страну-производителя для всех товаров в заказе, у которых она не указана. Получите список доступных для выбора\r\n   стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Затем передайте\r\n   информацию о\r\n   стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\r\n\r\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\r\n   Он позволяет получить все заказы, используя фильтры с различными статусами. Можно также получить данные аналитики,\r\n   если поле `with` отправить со значением `analytics_data`.\r\n\r\n   Отправления могут прийти в статусах `awaiting_packaging`, `awaiting_approve` или `awaiting_verification`.\r\n\r\n2. Получите дополнительную информацию о заказах: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\r\n\r\n   В блоке `requirements` указывается:\r\n    - какие товары подлежат обязательной маркировке;\r\n    - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\r\n      также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) и\r\n      [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\r\n\r\n   Дополнительную информацию вы также можете получить по\r\n   штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\r\n\r\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\r\n   символов: [/v4/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidate).\r\n\r\n   С помощью метода [/v5/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSet) добавьте для каждого экземпляра маркировку, которую будете передавать в систему «Честный ЗНАК». При необходимости передайте\r\n   номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\r\n\r\n   [Подробнее о маркировке «Честный ЗНАК» в Базе знаний](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\r\n\r\n   Получите статусы передачи маркировок:\r\n\r\n- [/v4/fbs/posting/product/exemplar/status](#operation/PostingAPI_GetProductExemplarStatus) — получить статус добавления экземпляров.\r\n- [/v5/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGet) — получить данные созданных экземпляров.\r\n\r\n4. Перед сборкой убедитесь, что отправление соответствует установленным в пункте приёма ограничениям. Получите\r\n   ограничения пункта приёма по номеру\r\n   отправления: [/v1/posting/fbs/restrictions](#operation/PostingAPI_GetRestrictions).\r\n\r\n5. До окончания времени на сборку подтвердите, что вы собрали\r\n   заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). Вы не сможете собрать заказ, если:\r\n   - заказ не в статусе `awaiting_packaging`;\r\n   - вы не указали коды маркировки для товаров, подлежащих обязательной маркировке.\r\n\r\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. Например, если в заказе\r\n   несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\r\n\r\n   После использования метода статус отправления изменится на `awaiting_deliver`.\r\n\r\n   Вы можете использовать метод для частичной\r\n   сборки: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\r\n\r\n6. Подтвердите отгрузку и запустите формирование транспортной накладной методом [/v2/posting/fbs/act/create](#operation/PostingAPI_PostingFBSActCreate) или создайте перевозку с помощью метода [/v1/carriage/create](#operation/CarriageAPI_CarriageCreate) и подтвердите её методом [/v1/carriage/approve](#operation/CarriageAPI_CarriageApprove).\r\n   В ответе методов [/v2/posting/fbs/act/create](#operation/PostingAPI_PostingFBSActCreate) и [/v1/carriage/create](#operation/CarriageAPI_CarriageCreate) вы получите идентификатор созданной перевозки.\r\n\r\n7. Получите список перевозок, по которым нужно распечатать штрихкод для отгрузки и транспортную накладную: [/v1/posting/carriage-available/list](#operation/PostingAPI_GetCarriageAvailableList) или [/v1/carriage/delivery/list](#operation/CarriageAPI_CarriageDeliveryList).\r\n\r\n8. Проверьте статус формирования накладной: [/v2/posting/fbs/digital/act/check-status](#operation/PostingAPI_PostingFBSDigitalActCheckStatus).\r\n   Когда статус документа перейдёт в `FORMED`, получите файлы:\r\n   - Транспортная накладная: [/v2/posting/fbs/act/get-pdf](#operation/PostingAPI_PostingFBSGetAct).\r\n   - Лист отгрузки: [/v2/posting/fbs/digital/act/get-pdf](#operation/PostingAPI_PostingFBSGetDigitalAct).\r\n\r\n9. Для каждого отправления распечатайте наклейку для идентификации в системе\r\n    Ozon: [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel).\r\n\r\n10. После того как вы упаковали все отправления по требованиям из\r\n    раздела [Доверительная приёмка грузового места](https://seller-edu.ozon.ru/docs/fbs/ozon-logistika/doveritel-naya-priemka-gruzovogo-mesta.html#какие-требования-к-грузовому-месту)\r\n    в Базе знаний продавца, получите этикетки на каждое грузовое\r\n    место: [/v2/posting/fbs/act/get-container-labels](#operation/PostingAPI_PostingFBSActGetContainerLabels).\r\n\r\nПосле этого можете передать грузовое место в пункт приёма или курьеру Ozon.\r\n\r\nЕсли отправление передано в доставку, но не просканировано в сортировочном центре, вы можете открыть\r\nспор: [/v2/posting/fbs/arbitration](#operation/PostingAPI_MoveFbsPostingToArbitration). Открытый спор переведёт\r\nотправление в статус `arbitration`.\r\n\r\nЕсли спор по отправлению откроет покупатель, статус отправления изменится на `client_arbitration`.\r\n\r\nЧтобы отследить изменение статуса, когда отправление найдено,\r\nиспользуйте [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) с нужными фильтрами.\r\n\r\nДля передачи спорных заказов к отгрузке\r\nиспользуйте [/v2/posting/fbs/awaiting-delivery](#operation/PostingAPI_MoveFbsPostingToAwaitingDelivery). Статус\r\nотправления изменится на `awaiting_deliver`.\r\n\r\n## Схема rFBS Стандарт\r\n\r\n<aside class=\"warning\">\r\nС 11 марта 2024 года максимальный срок доставки до покупателя — 30 дней.\r\nОбновите срок в настройках вашего метода. \r\nЕсли срок будет больше максимального, он поменяется автоматически.\r\n</aside>\r\n\r\n1. Перед началом работы с отправлениями получите список необработанных заказов (отправлений):\r\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\r\n\r\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать\r\n   страну-производителя для всех товаров в заказе, у которых она не указана.    \r\n   Получите список доступных для выбора\r\n   стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Затем передайте\r\n   информацию о\r\n   стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\r\n\r\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\r\n   Он позволяет получить все заказы, используя фильтры с различными статусами. Можно также получить данные аналитики,\r\n   если поле `with` отправить со значением `analytics_data`.\r\n\r\n   Отправления могут прийти в статусах `awaiting_packaging`, `awaiting_approve` или `awaiting_verification`.\r\n\r\n   Если в параметре `available_actions` указано `set_cutoff`, уточните дату отгрузки отправления с помощью метода\r\n   [/v1/posting/cutoff/set](#operation/PostingAPI_SetPostingCutoff). Сделайте это не позднее даты, которая указана в\r\n   параметре `shipment_date` в методах: [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList),\r\n   [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) или [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\r\n   После даты `shipment_date` уточнить дату отгрузки и собрать отправление не получится.\r\n\r\n2. Получите дополнительную информацию о заказах: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\r\n\r\n   В блоке `requirements` указывается:\r\n    - какие товары подлежат обязательной маркировке;\r\n    - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\r\n      также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\r\n      и [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\r\n\r\n   Дополнительную информацию вы также можете получить по\r\n   штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\r\n\r\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\r\n   символов: [/v4/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidate).\r\n\r\n   С помощью метода [/v5/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSet) добавьте для каждого экземпляра маркировку, которую будете передавать в систему «Честный ЗНАК». При необходимости передайте\r\n   номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\r\n\r\n   [Подробнее о маркировке «Честный ЗНАК» в Базе знаний](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\r\n\r\n   Получите статусы передачи маркировок: \r\n\r\n- [/v4/fbs/posting/product/exemplar/status](#operation/PostingAPI_GetProductExemplarStatus) — получить статус добавления экземпляров.\r\n- [/v5/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGet) — получить данные созданных экземпляров.\r\n\r\n4. До окончания времени на сборку подтвердите, что вы собрали\r\n   заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). Вы не сможете собрать заказ, если:\r\n   - заказ не в статусе `awaiting_packaging`;\r\n   - вы не указали коды маркировки для товаров, подлежащих обязательной маркировке.\r\n\r\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. Например, если в заказе\r\n   несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\r\n\r\n   После использования метода статус отправления изменится на `awaiting_deliver`.\r\n\r\n   Вы можете использовать метод для частичной\r\n   сборки: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\r\n\r\nКогда сборка заказа завершена, свяжитесь с покупателем для согласования даты доставки.\r\nЕсли покупателю не подходит дата, вы можете перенести её: [/v1/posting/fbs/timeslot/set](#operation/PostingAPI_SetPostingTimeslot).\r\nПосмотрите доступные даты для переноса доставки и количество доступных переносов: [/v1/posting/fbs/timeslot/change-restrictions](#operation/PostingAPI_PostingTimeslotChangeRestrictions).\r\n\r\nПередайте отправление курьеру:\r\n\r\n1. Когда курьер забрал отправление, измените статус отправления на\r\n   «Доставляется»: [/v2/fbs/posting/delivering](#operation/PostingAPI_FbsPostingDelivering).\r\n\r\n   <aside class=\"notice\">\r\n   Если вы не составляете маршрутный лист и курьер сразу направляется к покупателю, можете сразу перевести отправление из\r\n   статуса «Доставляется» в «Последняя миля»: <a href=\"#operation/PostingAPI_FbsPostingLastMile\">/v2/fbs/posting/last-mile</a>.\r\n   </aside>\r\n\r\n   Одновременно с этим, если у отправления есть трек-номер, передайте\r\n   его: [/v2/fbs/posting/tracking-number/set](#operation/PostingAPI_FbsPostingTrackingNumberSet).\r\n\r\n2. Когда курьер едет к покупателю, поменяйте статус отправления на «Последняя\r\n   миля»: [/v2/fbs/posting/last-mile](#operation/PostingAPI_FbsPostingLastMile).\r\n\r\n3. Когда курьер передал отправление покупателю, поменяйте статус на\r\n   «Доставлено»: [/v2/fbs/posting/delivered](#operation/PostingAPI_FbsPostingDelivered).\r\n\r\n### Отменить доставку отправления\r\n\r\n1. Используйте [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) на любом этапе\r\n   работы с отправлением, чтобы получить список причин отмены отправления.\r\n\r\n2. Передайте этот список и номер отправления: [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\r\n\r\nЧтобы отменить часть товаров в отправлении,\r\nиспользуйте [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct).\r\n\r\nЕсли отправление отменит покупатель, статус изменится на `cancelled`.\r\n\r\n## Схема rFBS Express с доставкой в пункт выдачи\r\n\r\n1. Перед началом работы с отправлениями получите список необработанных заказов (отправлений):\r\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\r\n\r\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать страну-производителя для всех товаров в заказе, у которых она не указана.\r\n   Получите список доступных для выбора стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). \r\n   Затем передайте информацию о стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\r\n\r\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\r\n   Он позволяет получить все заказы, используя фильтры с различными статусами. \r\n   Можно также получить данные аналитики, если поле `with` отправить со значением `analytics_data`.\r\n\r\n   Отправления могут прийти в статусах `awaiting_packaging`, `awaiting_approve` или `awaiting_verification`.\r\n\r\n2. Получите дополнительную информацию о заказах: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\r\n\r\n   В блоке `requirements` указывается:\r\n   - какие товары подлежат обязательной маркировке;\r\n   - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\r\n     также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) и [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\r\n\r\n   Дополнительную информацию вы также можете получить по штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\r\n\r\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\r\n   символов: [/v4/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidate).\r\n\r\n   С помощью метода [/v5/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSet) добавьте для каждого экземпляра маркировку, которую будете передавать в систему «Честный ЗНАК». \r\n   При необходимости передайте номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\r\n\r\n   [Подробнее о маркировке «Честный ЗНАК» в Базе знаний](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\r\n\r\n   Получите статусы передачи маркировок:\r\n\r\n- [/v4/fbs/posting/product/exemplar/status](#operation/PostingAPI_GetProductExemplarStatus) — получить статус добавления экземпляров.\r\n- [/v5/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGet) — получить данные созданных экземпляров.\r\n\r\n4. До окончания времени на сборку подтвердите, что вы собрали заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). \r\n   Вы не сможете собрать заказ, если:\r\n   - заказ не в статусе `awaiting_packaging`;\r\n   - вы не указали коды маркировки для товаров, подлежащих обязательной маркировке.\r\n\r\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. \r\n   Например, если в заказе несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\r\n\r\n   После использования метода статус отправления изменится на `awaiting_deliver`.\r\n\r\n   Вы можете использовать метод для частичной сборки: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\r\n\r\n5. Распечатайте этикетку для идентификации в системе Ozon: [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel). \r\n\r\n6. Передайте отправление курьеру.\r\n\r\nДальше подстатусы будут изменяться автоматически: \r\n1. `on_way_to_city` — курьер забрал заказ. \r\n2. `on_way_to_pickup_point` — курьер везёт заказ в пункт выдачи.\r\n3. `in_pickup_point` — отправление приняли в пункте выдачи.\r\n4. `delivered` — покупатель забрал заказ из пункта выдачи.\r\n\r\nЧтобы проверить статус отправления, используйте метод [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\r\n\r\n### Отменить доставку отправления\r\n\r\n1. Используйте [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) на любом этапе\r\n   работы с отправлением, чтобы получить список причин отмены отправления.\r\n\r\n2. Передайте этот список и номер отправления: [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\r\n\r\nЧтобы отменить часть товаров в отправлении, используйте [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct).\r\n\r\nЕсли отправление отменит покупатель, статус изменится на `cancelled`.\r\n\r\n## Схема rFBS с интегрированной службой доставки\r\n\r\n1. Перед началом работы с отправлениями получите список необработанных заказов (отправлений):\r\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\r\n\r\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать\r\n   страну-производителя для всех товаров в заказе, у которых она не указана. Получите список доступных для выбора\r\n   стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Затем передайте\r\n   информацию о\r\n   стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\r\n\r\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\r\n   Он позволяет получить все заказы, используя фильтры с различными статусами. Можно также получить данные аналитики,\r\n   если поле `with` отправить со значением `analytics_data`.\r\n\r\n   Отправления могут прийти в статусах `awaiting_packaging`, `awaiting_approve` или `awaiting_verification`.\r\n\r\n2. Получите дополнительную информацию о заказах: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\r\n\r\n   В блоке `requirements` указывается:\r\n    - какие товары подлежат обязательной маркировке;\r\n    - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\r\n      также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\r\n      и [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\r\n\r\n   Дополнительную информацию вы также можете получить по\r\n   штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\r\n\r\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\r\n   символов: [/v4/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidate).\r\n\r\n   С помощью метода [/v5/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSet) добавьте для каждого экземпляра маркировку, которую будете передавать в систему «Честный ЗНАК». При необходимости передайте\r\n   номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\r\n\r\n   [Подробнее о маркировке «Честный ЗНАК» в Базе знаний](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\r\n\r\n   Получите статусы передачи маркировок:\r\n\r\n- [/v4/fbs/posting/product/exemplar/status](#operation/PostingAPI_GetProductExemplarStatus) — получить статус добавления экземпляров.\r\n- [/v5/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGet) — получить данные созданных экземпляров.\r\n\r\n4. До окончания времени на сборку подтвердите, что вы собрали\r\n   заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). Вы не сможете собрать заказ, если:\r\n   - заказ не в статусе `awaiting_packaging`;\r\n   - вы не указали коды маркировки для товаров, подлежащих обязательной маркировке.\r\n\r\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. Например, если в заказе\r\n   несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\r\n\r\n   После использования метода статус отправления изменится на `awaiting_deliver`.\r\n\r\n   Вы можете использовать метод для частичной\r\n   сборки: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\r\n\r\nПередайте отправление в службу доставки. Все статусы от «Доставляется» до «Доставлено» будет передавать служба доставки.\r\n\r\n### Отменить доставку отправления\r\n\r\n1. Используйте [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) на любом этапе\r\n   работы с отправлением, чтобы получить список причин отмены отправления.\r\n\r\n2. Передайте этот список и номер отправления: [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\r\n\r\nЧтобы отменить часть товаров в отправлении,\r\nиспользуйте [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct).\r\n\r\nЕсли отправление отменит покупатель, статус изменится на `cancelled`.\r\n\r\n## Схема rFBS Агрегатор\r\n\r\n1. Перед началом работы с отправлениями получите список необработанных заказов (отправлений):\r\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\r\n\r\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать\r\n   страну-производителя для всех товаров в заказе, у которых она не указана. Получите список доступных для выбора\r\n   стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Затем передайте\r\n   информацию о\r\n   стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\r\n\r\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\r\n   Он позволяет получить все заказы, используя фильтры с различными статусами. Можно также получить данные аналитики,\r\n   если поле `with` отправить со значением `analytics_data`.\r\n\r\n   Отправления могут прийти в статусах `awaiting_packaging`, `awaiting_approve` или `awaiting_verification`.\r\n\r\n2. Получите дополнительную информацию о заказах: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\r\n\r\n   В блоке `requirements` указывается:\r\n   - какие товары подлежат обязательной маркировке;\r\n   - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\r\n     также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\r\n     и [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\r\n\r\n   Дополнительную информацию вы также можете получить по\r\n   штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\r\n\r\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\r\n   символов: [/v4/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidate).\r\n\r\n   С помощью метода [/v5/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSet) добавьте для каждого экземпляра маркировку, которую будете передавать в систему «Честный ЗНАК». При необходимости передайте\r\n   номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\r\n\r\n   [Подробнее о маркировке «Честный ЗНАК» в Базе знаний](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\r\n\r\n   Получите статусы передачи маркировок:\r\n\r\n- [/v4/fbs/posting/product/exemplar/status](#operation/PostingAPI_GetProductExemplarStatus) — получить статус добавления экземпляров.\r\n- [/v5/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGet) — получить данные созданных экземпляров.\r\n\r\n4. Если товар в отправлении упакован в несколько коробок, передайте их количество: [/v3/posting/multiboxqty/set](#operation/PostingAPI_PostingMultiBoxQtySetV3). Если не сделать этого до сборки, вам придётся объединить все коробки в одну.\r\n\r\n5. До окончания времени на сборку подтвердите, что вы собрали\r\n   заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). Вы не сможете собрать заказ, если:\r\n   - заказ не в статусе `awaiting_packaging`;\r\n   - вы не указали коды маркировки для товаров, подлежащих обязательной маркировке.\r\n\r\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. Например, если в заказе\r\n   несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\r\n\r\n   После использования метода статус отправления изменится на `awaiting_registration`.\r\n\r\n   Вы можете использовать метод для частичной\r\n   сборки: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\r\n\r\n6. Когда перевозчик обработает отправление, его статус изменится с `awaiting_registration` на `awaiting_delivery`. После\r\n   этого отправлению будет присвоен трек-номер.\r\n\r\n   Для каждого отправления распечатайте этикетку для идентификации в системе\r\n   Ozon: [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel).\r\n\r\n   Передайте отправление в службу доставки. Все статусы от «Доставляется» до «Доставлено» будет передавать служба доставки.\r\n\r\nЕсли вы продаёте из Турции и вам нужны декларации Elektronik Ticaret Gümrük Beyannamesi (ETGB) для возврата налоговой пошлины, \r\nполучите декларации: [/v1/posting/global/etgb](#operation/PostingAPI_GetEtgb).\r\n\r\n### Отменить доставку отправления\r\n\r\n1. Используйте [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) на любом этапе\r\n   работы с отправлением, чтобы получить список причин отмены отправления.\r\n\r\n2. Передайте этот список и номер отправления: [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\r\n\r\nЧтобы отменить часть товаров в отправлении,\r\nиспользуйте [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct).\r\n\r\nЕсли отправление отменит покупатель, статус изменится на `cancelled`.\r\n\r\n## Схема rFBS Crossborder\r\n\r\n1. Перед началом работы с отправлениями получите список необработанных заказов (отправлений):\r\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\r\n\r\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать\r\n   страну-производителя для всех товаров в заказе, у которых она не указана.    \r\n   Получите список доступных для выбора\r\n   стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Затем передайте\r\n   информацию о\r\n   стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\r\n\r\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\r\n   Он позволяет получить все заказы, используя фильтры с различными статусами. Можно также получить данные аналитики,\r\n   если поле `with` отправить со значением `analytics_data`.\r\n\r\n   Отправления могут прийти в статусах `awaiting_packaging`, `awaiting_approve` или `awaiting_verification`.\r\n\r\n   Если в параметре `available_actions` указано `set_cutoff`, уточните дату отгрузки отправления с помощью метода\r\n   [/v1/posting/cutoff/set](#operation/PostingAPI_SetPostingCutoff). Сделайте это не позднее даты, которая указана в\r\n   параметре `shipment_date` в методах: [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList),\r\n   [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) или [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\r\n   После даты `shipment_date` уточнить дату отгрузки и собрать отправление не получится.\r\n\r\n2. Получите дополнительную информацию о заказах: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\r\n\r\n   В блоке `requirements` указывается:\r\n    - какие товары подлежат обязательной маркировке;\r\n    - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\r\n      также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\r\n      и [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\r\n\r\n   Дополнительную информацию вы также можете получить по\r\n   штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\r\n\r\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\r\n   символов: [/v4/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidate).\r\n\r\n   С помощью метода [/v5/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSet) добавьте для каждого экземпляра маркировку, которую будете передавать в систему «Честный ЗНАК». При необходимости передайте\r\n   номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\r\n\r\n   [Подробнее о маркировке «Честный ЗНАК» в Базе знаний](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\r\n\r\n   Получите статусы передачи маркировок:\r\n\r\n- [/v4/fbs/posting/product/exemplar/status](#operation/PostingAPI_GetProductExemplarStatus) — получить статус добавления экземпляров.\r\n- [/v5/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGet) — получить данные созданных экземпляров.\r\n\r\n4. До окончания времени на сборку подтвердите, что вы собрали\r\n   заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). Вы не сможете собрать заказ, если:\r\n   - заказ не в статусе `awaiting_packaging`;\r\n   - вы не указали коды маркировки для товаров, подлежащих обязательной маркировке.\r\n\r\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. Например, если в заказе\r\n   несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\r\n\r\n   После использования метода статус отправления изменится на `awaiting_deliver`.\r\n\r\n   Вы можете использовать метод для частичной\r\n   сборки: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\r\n\r\n5. Если в настройках метода доставки вы задали временной промежуток для передачи отправления в службу доставки, измените\r\n   статус отправления на `sent_by_seller` — «Отправлено\r\n   продавцом»: [/v2/fbs/posting/sent-by-seller](#operation/PostingAPI_FbsPostingSentbyseller).\r\n\r\n6. После передачи отправления в службу доставки измените статус отправления на `delivering` —\r\n   «Доставляется»: [/v2/fbs/posting/delivering](#operation/PostingAPI_FbsPostingDelivering).\r\n\r\n7. Одновременно с этим, если у отправления есть трек-номер, передайте\r\n   его: [/v2/fbs/posting/tracking-number/set](#operation/PostingAPI_FbsPostingTrackingNumberSet).\r\n\r\n8. Когда курьер едет к покупателю, поменяйте статус отправления на «Последняя\r\n   миля»: [/v2/fbs/posting/last-mile](#operation/PostingAPI_FbsPostingLastMile).\r\n\r\n9. Когда курьер передал отправление покупателю, поменяйте статус на\r\n   «Доставлено»: [/v2/fbs/posting/delivered](#operation/PostingAPI_FbsPostingDelivered).\r\n\r\n## Схема rFBS Crossborder с интегрированной службой доставки\r\n\r\n1. Перед началом работы с отправлениями получите список необработанных заказов (отправлений):\r\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\r\n\r\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать\r\n   страну-производителя для всех товаров в заказе, у которых она не указана.    \r\n   Получите список доступных для выбора\r\n   стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Затем передайте\r\n   информацию о\r\n   стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\r\n\r\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\r\n   Он позволяет получить все заказы, используя фильтры с различными статусами. Можно также получить данные аналитики,\r\n   если поле `with` отправить со значением `analytics_data`.\r\n\r\n   Отправления могут прийти в статусах `awaiting_packaging`, `awaiting_approve` или `awaiting_verification`.\r\n\r\n2. Получите дополнительную информацию о заказах: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\r\n\r\n   В блоке `requirements` указывается:\r\n    - какие товары подлежат обязательной маркировке;\r\n    - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\r\n      также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\r\n      и [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\r\n\r\n   Дополнительную информацию вы также можете получить по\r\n   штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\r\n\r\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\r\n   символов: [/v4/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidate).\r\n\r\n   С помощью метода [/v5/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSet) добавьте для каждого экземпляра маркировку, которую будете передавать в систему «Честный ЗНАК». При необходимости передайте\r\n   номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\r\n\r\n   [Подробнее о маркировке «Честный ЗНАК» в Базе знаний](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\r\n\r\n   Получите статусы передачи маркировок:\r\n\r\n- [/v4/fbs/posting/product/exemplar/status](#operation/PostingAPI_GetProductExemplarStatus) — получить статус добавления экземпляров.\r\n- [/v5/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGet) — получить данные созданных экземпляров.\r\n\r\n4. До окончания времени на сборку подтвердите, что вы собрали\r\n   заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). Вы не сможете собрать заказ, если:\r\n   - заказ не в статусе `awaiting_packaging`;\r\n   - вы не указали коды маркировки для товаров, подлежащих обязательной маркировке.\r\n\r\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. Например, если в заказе\r\n   несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\r\n\r\n   После использования метода статус отправления изменится на `awaiting_deliver`.\r\n\r\n   Вы можете использовать метод для частичной\r\n   сборки: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\r\n\r\n5. Для каждого отправления распечатайте этикетку для идентификации в системе\r\n   Ozon: [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel).\r\n\r\n6. Если в настройках метода доставки вы задали временной промежуток для передачи отправления в службу доставки, измените\r\n   статус отправления на `sent_by_seller` — «Отправлено\r\n   продавцом»: [/v2/fbs/posting/sent-by-seller](#operation/PostingAPI_FbsPostingSentbyseller).\r\n\r\nПередайте отправление в службу доставки. Все статусы от «Доставляется» до «Доставлено» будет передавать служба доставки.\r\n\r\n### Отменить доставку отправления\r\n\r\n1. Используйте [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) на любом этапе\r\n   работы с отправлением, чтобы получить список причин отмены отправления.\r\n\r\n2. Передайте этот список и номер отправления: [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\r\n\r\nЧтобы отменить часть товаров в отправлении,\r\nиспользуйте [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct).\r\n\r\nЕсли отправление отменит покупатель, статус изменится на `cancelled`.\r\n\r\n## Как работать с заказами с весовыми товарами (rFBS)\r\n\r\nПеред тем, как перевести заказ с весовыми товарами в статус «Ожидает отгрузки» — `awaiting_delivery`, передайте\r\nуточнённые данные о весе весовых товаров. Для этого после взвешивания во время сборки передайте информацию о весе\r\nкаждого экземпляра каждого весового SKU через\r\nметод [/v2/posting/fbs/product/change](#operation/PostingAPI_CancelFbsPosting).\r\n\r\nТовар необходимо взвешивать, если при создании товара вы указали, что товар весовой, и добавили к нему атрибуты 20577,\r\n8933 и 8934.\r\n\r\nПосле передачи корректного веса для всех экземпляров всех весовых товаров вы сможете перевести отправление в статус\r\n«Ожидает отгрузки» — `awaiting_delivery`.\r\n\r\nAPI вернёт ошибку 400, если вы:\r\n\r\n- взвесили не все экземпляры из отправления,\r\n- передали значение веса для невесового товара,\r\n- вес экземпляра не попал в диапазон заданный атрибутами 8933 и 8934.\r\n\r\n# Работа с архивом актов\r\n\r\n<br>\r\n\r\n- [/v2/posting/fbs/act/list](#operation/PostingAPI_FbsActList) — получите список сформированных ранее актов.\r\n- [/v2/posting/fbs/act/get-postings](#operation/PostingAPI_ActPostingList) — получите список отправлений по каждому\r\n  акту.\r\n\r\n# Получите информацию о возвратах товаров\r\n\r\n[/v1/returns/list](#operation/returnsList) — получите информацию о возвращённых товарах.\r\n\r\n# Получите возвратные отгрузки по штрихкоду\r\n\r\nУбедитесь, что вы можете получать возвратные отгрузки по штрихкоду: [/v1/return/giveout/is-enabled](#operation/ReturnAPI_GiveoutIsEnabled). Если у вас есть доступ, в параметре `enabled` будет указано значение `true`.\r\n\r\nЧтобы получить возвратную отгрузку, запросите штрихкод:\r\n- [/v1/return/giveout/get-pdf](#operation/ReturnAPI_GiveoutGetPDF) — получить штрихкод в формате PDF.\r\n- [/v1/return/giveout/get-png](#operation/ReturnAPI_GiveoutGetPNG) — получить штрихкод в формате PNG.\r\n- [/v1/return/giveout/barcode](#operation/ReturnAPI_GiveoutGetBarcode) — получить штрихкод в текстовом виде.\r\n\r\nПолучите информацию и список возвратных отгрузок:\r\n- [/v1/return/giveout/list](#operation/ReturnAPI_GiveoutList) — получить список возвратных отгрузок.\r\n- [/v1/return/giveout/info](#operation/ReturnAPI_GiveoutInfo) — получить информацию о выбранной отгрузке.\r\n  \r\nВы можете забрать возвраты отдельно от поставки товаров. Если для проезда на склад Ozon нужен пропуск, создайте его с помощью метода [/v1/return/pass/create](#operation/returnPassCreate).\r\nДля каждого проезда за возвратами нужен новый пропуск.\r\n\r\nДля редактирования и удаления пропуска используйте методы [/v1/return/pass/update](#operation/returnPassUpdate) и [/v1/return/pass/delete](#operation/returnPassDelete).\r\n  \r\nСписок всех пропусков можно получить с помощью метода [/v1/pass/list](#operation/PassList).\r\n\r\n[Подробнее об оформлении пропусков](https://seller-edu.ozon.ru/fbs/ozon-logistika/oformlenie-propuska)\r\n\r\n# Управляйте заявками на возврат rFBS-заказов\r\n\r\nПолучите заявки и информацию о них:\r\n\r\n- [/v2/returns/rfbs/get](#operation/RFBSReturnsAPI_ReturnsRfbsGetV2) — получите информацию по\r\n  заявке на возврат rFBS.\r\n- [/v2/returns/rfbs/list](#operation/RFBSReturnsAPI_ReturnsRfbsListV2) — получите список\r\n  заявок на возврат rFBS.\r\n\r\nПримите решение по заявке и возврату денег:\r\n- [/v2/returns/rfbs/verify](#operation/RFBSReturnsAPI_ReturnsRfbsVerifyV2) — одобрите заявку с возвратом полной стоимости товара. \r\n  Подтвердите возврат денег с помощью метода [/v2/returns/rfbs/return-money](#operation/RFBSReturnsAPI_ReturnsRfbsReturnMoneyV2).\r\n- [/v2/returns/rfbs/compensate](#operation/RFBSReturnsAPI_ReturnsRfbsCompensateV2) — компенсируйте частичную стоимость товара и оставьте его у покупателя.\r\n- [/v2/returns/rfbs/reject](#operation/RFBSReturnsAPI_ReturnsRfbsRejectV2) — отклоните заявку на возврат rFBS.\r\n\r\nЗапросите у покупателя товар для проверки и подтвердите получение товара с помощью метода [/v2/returns/rfbs/receive-return](#operation/RFBSReturnsAPI_ReturnsRfbsReceiveReturnV2).\r\n\r\n# Управляйте заявками на отмену\r\n\r\nПолучите заявки и информацию о них:\r\n\r\n- [/v1/conditional-cancellation/get](#operation/CancellationAPI_GetConditionalCancellation) — получите информацию по\r\n  заявке на отмену rFBS.\r\n- [/v1/conditional-cancellation/list](#operation/CancellationAPI_GetConditionalCancellationList) — получите список\r\n  заявок на отмену rFBS.\r\n\r\nПримите решение по новой заявке на отмену — подтвердите или отклоните её:\r\n\r\n- [/v1/conditional-cancellation/approve](#operation/CancellationAPI_ConditionalCancellationApprove) — подтвердите заявку\r\n  на отмену rFBS. Заказ будет автоматически отменён, а деньги вернутся покупателю.\r\n- [/v1/conditional-cancellation/reject](#operation/CancellationAPI_ConditionalCancellationReject) — отклоните заявку на\r\n  отмену rFBS. Заказ останется в том же статусе, и его нужно будет доставить покупателю.\r\n\r\n# Управляйте чатами\r\n\r\nДля получения списка чатов используйте [/v2/chat/list](#operation/ChatAPI_ChatListV2). В ответе будут идентификаторы текущих чатов и последних сообщений.\r\n\r\nДля отправки сообщений по идентификатору чата используйте методы:\r\n\r\n- [/v1/chat/send/message](#operation/ChatAPI_ChatSendMessage) — для отправки текстового сообщения.\r\n\r\n- [/v1/chat/send/file](#operation/ChatAPI_ChatSendFile) — для отправки файла или изображения.\r\n\r\nДля получения истории чата по идентификатору чата или сообщения используйте метод [/v3/chat/history](#operation/ChatAPI_ChatHistoryV3). Направление сортировки по\r\n  умолчанию — от новых сообщений к старым.\r\n\r\nЕсли указать идентификатор сообщения, то история начнётся с этого сообщения.\r\n\r\nЧтобы создать новый чат с покупателем по номеру отправления,\r\nвоспользуйтесь [/v1/chat/start](#operation/ChatAPI_ChatStart).\r\n\r\nЧтобы отметить сообщение и все сообщения до него прочитанными,\r\nиспользуйте [/v2/chat/read](#operation/ChatAPI_ChatReadV2).\r\n\r\n# Создайте и получите отчёты\r\n\r\nПри запросе любого из отчётов сначала возвращается код на создание документа. Отправьте его в запросе метода\r\n[/v1/report/info](#operation/ReportAPI_ReportInfo) — в ответе вернётся файл отчёта и дополнительная информация.\r\n\r\nЧтобы получить список сформированных ранее отчётов, используйте [/v1/report/list](#operation/ReportAPI_ReportList).\r\n\r\nМетоды для получения отчётов:\r\n\r\n- [/v1/report/products/create](#operation/ReportAPI_CreateCompanyProductsReport) — отчёт с данными о товарах, например\r\n  Ozon&nbsp;ID, описанием товара, цены, комиссии или габаритов упаковки.\r\n\r\n- [/v3/finance/transaction/list](#operation/FinanceAPI_FinanceTransactionListV3) — отчёт по транзакциям,\r\n  доступный в личном кабинете продавца.\r\n\r\n- [/v4/product/info/price](#operation/ProductAPI_GetProductInfoPricesV4) — отчёт по ценам.\r\n\r\n- [/v1/report/warehouse/stock](#operation/ReportAPI_CreateStockByWarehouseReport) — отчёт по остаткам на складе.\r\n\r\n- [/v2/report/returns/create](#operation/ReportAPI_ReportReturnsCreate) — отчёт о возвращённых товарах для FBS и\r\n  rFBS. Отчёт содержит товары, принятые от покупателя, готовые к получению или переданные продавцу.\r\n\r\n- [/v1/report/postings/create](#operation/ReportAPI_CreateCompanyPostingsReport) — отчёт об отправлениях.\r\n\r\n- [/v1/finance/cash-flow-statement/list](#operation/FinanceAPI_FinanceCashFlowStatementList) — финансовый отчёт.\r\n\r\n- [/v1/report/discounted/create](#operation/ReportAPI_CreateDiscountedReport) — отчёт об уценённых товарах.\r\n\r\n# Получите аналитические отчёты\r\n\r\n- [/v1/analytics/data](#operation/AnalyticsAPI_AnalyticsGetData) — получите данные аналитики.\r\n\r\n  Если укажете период и метрики, которые нужно рассчитать, в ответе будет аналитиĸа, сгруппированная по параметру\r\n  `dimensions`.\r\n\r\n- [/v1/analytics/stocks](#operation/AnalyticsAPI_AnalyticsStocks) — получите аналитику по остаткам товаров на складах.\r\n\r\nЧтобы получить отчёт по оборачиваемости FBO, запросите его в [личном кабинете](https://seller.ozon.ru/app/analytics/fulfillment-reports/turnover).\r\n\r\n# Получите финансовые отчёты\r\n\r\n- [/v3/finance/transaction/list](#operation/FinanceAPI_FinanceTransactionListV3) — получите подробную информацию по\r\n  транзакциям для отправления.\r\n\r\n- [/v3/finance/transaction/totals](#operation/FinanceAPI_FinanceTransactionTotalV3) — получите детальную информацию по\r\n  итоговым суммам транзакций за указанный период.\r\n\r\n# Получите информацию о рейтинге\r\n\r\n- [/v1/rating/summary](#operation/RatingAPI_RatingSummaryV1) — получите текущие значения рейтингов продавца.\r\n\r\n- [/v1/rating/history](#operation/RatingAPI_RatingHistoryV1) — получите информацию о рейтингах продавца за период и\r\n  количество штрафных баллов, начисленных в Premium-программе."
      },
      {
        "name": "News",
        "x-displayName": "Обновления",
        "description": "<br> \r\n<aside class=\"warning\">\r\nСледите за обновлениями документации в <a href=\"https://t.me/OzonSellerAPI\">Telegram-канале</a>.\r\n</aside>\r\n\r\n## 30 мая 2025\r\n\r\n| Метод                                                                                          | Что изменилось                                                                         |\r\n|------------------------------------------------------------------------------------------------|----------------------------------------------------------------------------------------|\r\n| [/v1/finance/document-b2b-sales/json](#operation/ReportAPI_CreateDocumentB2BSalesJSONReport)   | Добавили бета-метод для получения отчёта по продажам юридическим лицам в JSON-формате. |\r\n| [/v4/product/info/attributes](#operation/ProductAPI_GetProductAttributesV4) | Добавили параметр `result.attributes_with_defaults` в ответ метода. |\r\n\r\n## 27 мая 2025\r\n\r\n| Метод                     | Что изменилось                                                                                                        |\r\n|---------------------------|-----------------------------------------------------------------------------------------------------------------------|\r\n| /v1/product/import/stocks | Метод устарел, удалили его из документации. Используйте [/v2/products/stock](#operation/ProductAPI_ProductsStocksV2). |\r\n\r\n## 26 мая 2025\r\n\r\n| Метод                                                                            | Что изменилось                                                                                                                                                         |\r\n|----------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\r\n| [/v1/analytics/stocks](#operation/AnalyticsAPI_AnalyticsStocks)           | Обновили описание параметра `turnover_grades` в запросе метода. <br> Обновили описание параметров `items.turnover_grades` и `items.valid_stock_count` в ответе метода. |\r\n| [/v3/product/import](#operation/ProductAPI_ImportProductsV3) | Пометили обязательным параметр `items.type_id` в запросе метода. |\r\n\r\n## 23 мая 2025\r\n\r\n| Метод                                                                                                        | Что изменилось                                                                   |\r\n|--------------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------------------|\r\n| [/v5/product/info/prices](#operation/ProductAPI_GetProductInfoPrices) | Добавили параметр `items.price.net_price` в ответ метода. |\r\n| [/v2/product/pictures/info](#operation/ProductAPI_ProductInfoPicturesV2) | Добавили параметр `items.errors` в ответ метода. |\r\n\r\n## 22 мая 2025\r\n\r\n| Метод                                                                                             | Что изменилось                                                                                                                                                                                         |\r\n|---------------------------------------------------------------------------------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\r\n| [/v1/analytics/average-delivery-time](#operation/AnalyticsAPI_AverageDeliveryTime)                | Добавили бета-метод для получения аналитики по среднему времени доставки.                                                                                                                              |\r\n| [/v1/analytics/average-delivery-time/details](#operation/AnalyticsAPI_AverageDeliveryTimeDetails) | Добавили бета-метод для получения детальной аналитики по среднему времени доставки по кластеру.                                                                                                        |\r\n| —                                                                                                 | В разделе [**Порядок работы с методами**](#tag/Process) увеличили лимит запросов — теперь вы можете отправить не больше 50 запросов в секунду на все методы с одного Client ID. Раньше — не больше 10. |\r\n| [/v3/product/import](#operation/ProductAPI_ImportProductsV3)                                      | Добавили параметр `items.promotions` в запрос метода.                                                                                                                                                  |\r\n\r\n## 20 мая 2025\r\n\r\n| Метод                                                                                                                                                                                       | Что изменилось                                                                  |\r\n|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------|\r\n| [/v1/supply-order/bundle](#operation/SupplyOrderBundle)                                                                                                                                     | Добавили параметр `items.placement_zone` в ответ метода.                        |\r\n| [/v1/cargoes/rules/get](#operation/CargoesAPI_CargoesRulesGet)                                                                                                                              | Добавили бета-метод для получения чек-листа с правилами по установке грузомест. |\r\n| [/v1/cargoes/delete](#operation/CargoesAPI_CargoesDelete)<br>[/v1/cargoes/delete/status](#operation/CargoesAPI_CargoesDeleteStatus)                                                         | Добавили бета-методы для удаления грузомест в заявке на поставку.               |\r\n| [/v1/supply-order/content/update](#operation/SupplyOrderAPI_SupplyOrderContentUpdate)<br>[/v1/supply-order/content/update/status](#operation/SupplyOrderAPI_SupplyOrderContentUpdateStatus) | Добавили бета-методы для редактирования товарного состава в заявке на поставку. |\r\n\r\n## 15 мая 2025\r\n\r\n| Метод                                                                                                        | Что изменилось                                                                                                                 |\r\n|--------------------------------------------------------------------------------------------------------------|--------------------------------------------------------------------------------------------------------------------------------|\r\n| [/v1/actions/candidates](#operation/PromosCandidates) <br> [/v1/actions/products](#operation/PromosProducts) | Добавили параметры `result.products.alert_max_action_price_failed` и `result.products.alert_max_action_price` в ответ методов. |\r\n\r\n## 13 мая 2025\r\n\r\n| Метод                                                                                                                                                                                                                                                                                                                                                                                                                      | Что изменилось                                                                                                                              |\r\n|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------|\r\n| [/v3/chat/history](#operation/ChatAPI_ChatHistoryV3)                                                                                                                                                                                                                                                                                                                                                                       | Перенесли метод из бета-раздела в основной.                                                                                                 |\r\n| [/v2/chat/history](#operation/ChatAPI_ChatHistoryV2)                                                                                                                                                                                                                                                                                                                                                                       | Метод устаревает и будет отключён 13 июля 2025 года. Переключитесь на новую версию [/v3/chat/history](#operation/ChatAPI_ChatHistoryV3).    |\r\n| —                                                                                                                                                                                                                                                                                                                                                                                                                          | В разделе [**Порядок работы с методами → Управляйте чатами**](#section/Upravlyajte-chatami) указали новый метод для получения истории чата. |\r\n| [/v1/returns/rfbs/action/set](#operation/ReturnsAPI_ReturnsRfbsActionSet)                                                                                                                                                                                                                                                                                                                                                  | Добавили бета-метод для передачи действий для возврата rFBS.                                                                                |\r\n| [/v2/returns/rfbs/reject](#operation/RFBSReturnsAPI_ReturnsRfbsRejectV2)<br>[/v2/returns/rfbs/compensate](#operation/RFBSReturnsAPI_ReturnsRfbsCompensateV2)<br>[/v2/returns/rfbs/verify](#operation/RFBSReturnsAPI_ReturnsRfbsVerifyV2)<br>[/v2/returns/rfbs/receive-return](#operation/RFBSReturnsAPI_ReturnsRfbsReceiveReturnV2)<br>[/v2/returns/rfbs/return-money](#operation/RFBSReturnsAPI_ReturnsRfbsReturnMoneyV2) | Методы будут отключены в будущем. Переключитесь на метод [/v1/returns/rfbs/action/set](#operation/ReturnsAPI_ReturnsRfbsActionSet).         |\r\n\r\n## 6 мая 2025\r\n\r\n| Метод                                                                  | Что изменилось                                                                                                         |\r\n|------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------|\r\n| /v1/product/import/stocks | Метод будет отключён 27 мая 2025 года. Переключитесь на [/v2/products/stocks](#operation/ProductAPI_ProductsStocksV2). |\r\n\r\n## 30 апреля 2025\r\n\r\n| Метод                                                                                | Что изменилось                                                       |\r\n|--------------------------------------------------------------------------------------|----------------------------------------------------------------------|\r\n| [/v2/conditional-cancellation/approve](#operation/CancellationAPI_ConditionalCancellationApproveV2) | Добавили бета-метод для подтверждения заявки на отмену rFBS-заказов. |\r\n| [/v2/conditional-cancellation/list](#operation/CancellationAPI_GetConditionalCancellationListV2) | Добавили бета-метод для получения списка заявок на отмену rFBS-заказов.      |\r\n| [/v2/conditional-cancellation/reject](#operation/CancellationAPI_ConditionalCancellationRejectV2) | Добавили бета-метод для отклонения заявки на отмену rFBS-заказов.            |\r\n\r\n## 28 апреля 2025\r\n\r\n| Метод                                                                                                                                                       | Что изменилось                                                                                                                                                                             |\r\n|-------------------------------------------------------------------------------------------------------------------------------------------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\r\n| [/v3/product/import](#operation/ProductAPI_ImportProductsV3)                                                                                                | Удалили параметры `items.image_group_id` и `items.premium_price` из запроса метода.                                                                                                 
[...]
